<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
   <h1>Welcome to the Sandbox</h1>
   <ul>
     <li>This application will allow you to login/register with a developer account</li>
     <li>After logging in, you can try out our apis, it will be a blast</li>
   </ul>
  </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
