<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
<form method="post" action="/authenticate">
  <div class="form-group">
     <label for="username">Username</label>
     <input type="text" class="form-control" name="username" id="username"/>
  </div>
  <div class="form-group">
     <label for="password">Password</label>
     <input type="password" class="form-control" name="password" id="password"/>
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
